<% content_for :body_class, "home_body" %>

<div class="center jumbotron">
  <h1>Organize Dinner.</h1>
  <p>Create your digital pantry to begin adding your favorite recipes.</p>
  <p>Track specific amounts of ingredients, or just know that you have it. It's up to you.</p>
  <p>Meals are suggested when you have the ingredients in your pantry to make them.</p>
  <p><%= link_to "Get Started", new_user_registration_path, 
    class: "btn btn-lg btn-default" %>
  </p>
</div>