<%= form_for(@pantry) do |f| %>
  <%= render 'ingredients/form', f: f %>
  <div class="row">
  <%= f.add_nested_fields_link :ingredients, "Add next ingredient" %>
  </div>
  <div class="row">
  	<div class="col-xs-12 col-s-8 col-md-3 col-md-offset-3">
  	<%= f.submit class: "btn btn-primary btn-lg" %>
  	</div>
  </div>
  	<% end %>
