<h1>Create Your Digital Pantry</h1>

<p>Your pantry includes all your various ingredients, and is specific to you. 
	Name and categorize your ingredients however you wish. You can include an
	 amount on hand, if you wish. Otherwise we'll assume you're perpetually stocked.</p>
<%= render 'form' %>