<h1>Welcome to <%= "#{@pantry.user.name}'s Pantry!" %></h1>

<div class="row">
	<div class="col-xs-12 col-s-12 col-md-4 col-lg-4">
		<p>Suggested/Makeable Recipes will be listed here.</p>
	</div>
	<div class="col-xs-12 col-s-12 col-md-4 col-lg-4">
		<h3>Pantry Items</h3>
		 <p>Pantry Items will be listed here.</p>
	</div>
</div>