<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">DinnerPlans</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><a href="#">Home</a></li>
        <% if user_signed_in? %>
          <% if current_user.pantry %>
            <li><%= link_to "My Pantry", pantry_path(current_user.pantry) %>
            </li>
          <% end %>
          <% if %>
            <li><%= link_to "My Recipes", recipes_path %></li>
          <% end %>
          <li>
            <%=link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>